# Build directories
build/
install/
log/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.agent/


# Compiled files
*.o
*.so
*.a
*.out

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache

# ROS specific
devel/
.catkin_workspace
_codeql_detected_source_root

# output_file
mcu_output/
include/auto_serial_bridge/generated_bindings.hpp
include/auto_serial_bridge/generated_config.hpp

# Local config
config/protocol.yaml